.text-center{
    text-align:center;
}

.box{
    width:70px;
    height:70px;
    background-color: green;
}

.hv-center{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}