h3{
    text-align:center;
}

.text-center{
    text-align:center;
}

#id-selector{
    color:red;
}

.cls{
    color:blue;
}

h2{
    color:brown;
}
div{
    color:brown;
}


div h1,p,div{
    color:antiquewhite;
}
.parent h4,p,div{
    color:blueviolet;
     background-color: bisque; 
 }  

/* *{
    color:aquamarine
} */
