.text-center{
    text-align:center;
}

/* ol{
    color:red;

} */

/* ol li:nth-child(odd){
    color:red;
}

ol li:nth-child(even){
    color:blue;

} */

/* ol li:nth-child(5n){

    color:red;

} */

/* ol li:nth-child(10n+1){
    color:red;


} */

.clr{
    color:blue;
}
 

/* <============@ media screen for phones and laptops ==============> */
@media screen and (max-width:600px){
    .clr{
        color:brown;
    }
}
